# Logs
*.log
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
npm-debug.log*

# Build outputs
dist/
dist-ssr/
build/

# Node modules
node_modules/

# Env files
.env
db.js

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vite cache
node_modules/.vite/

# Mac OS files
.DS_Store

# Uploads
backend/src/uploads/invoices/*
backend/src/uploads/factur-x/*
backend/src/uploads/pdf-a3/*
backend/src/uploads/pdf/*
