# Logs
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Node modules
node_modules/

# Env files
.env
db.js

# Logs
logs
*.log
npm-debug.log*

# Build outputs
dist/
build/

# Vite cache
node_modules/.vite/

# Mac OS files
.DS_Store

# VSCode settings
.vscode/

#uploads
backend/src/uploads/invoices/*