version: "3.9"
services:
  loki:
    image: grafana/loki:2.9.0
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/local-config.yaml
    volumes:
      - ./loki-config.yaml:/etc/loki/local-config.yaml
      - ./loki-data:/wal        
    networks:
      - monitoring_net

  promtail:
    image: grafana/promtail:2.9.0
    volumes:
      - ../logs:/var/log/app     
      - ./promtail-config.yaml:/etc/promtail/config.yml
    command: -config.file=/etc/promtail/config.yml
    networks:
      - monitoring_net

networks:
  monitoring_net:
    driver: bridge
